@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", sans-serif;
  text-align: justify;
}

body {
  background-color: #fcf7f1;
  overflow-x: hidden;
  /* Hide scrollbars */
}

header {
  position: relative;
  letter-spacing: 2px;
}

header img {
  width: 100%;
  object-fit: cover;
  display: flex;
  box-shadow: inset 0 8px 16px rgba(255, 4, 4, 0.842);
}

nav {
  top: 0px;
  position: fixed;
  display: flex;
  text-align: center;
  height: 4vw;
  width: 100%;
  background-color: rgba(141, 141, 141, 0.1);
  backdrop-filter: blur(50px);
  z-index: 100;
}

ul {
  display: flex;
  position: absolute;
  top: 25%;
  right: 2%;
  font-size: 1.5vw;
  font-weight: 100;
}
ul a {
  text-decoration: none;
  color: #665541;
}
ul a:hover {
  transition: all 0.4s ease-in-out;
  color: rgba(102, 85, 65, 0.5);
}

li {
  list-style-type: none;
  margin: 0px 10px;
}

h1 {
  position: relative;
  color: #665541;
  top: 2%;
  left: 2%;
  font-size: 3vw;
  font-weight: 100;
}

h2 {
  color: #382E2E;
  letter-spacing: 2px;
  width: 70%;
  margin: 80px auto 0px auto;
  font-size: 35px;
}
@media (max-width: 800px) {
  h2 {
    font-size: 25px;
  }
}

h3 {
  color: #463a3a;
}

hr {
  margin: 50px 80px;
  border: 0;
  border-top: 1px solid #382E2E;
}

p {
  color: #544545;
}

.stream a {
  text-decoration: none;
  font-weight: 700;
  color: #9c583f;
}

/* PRESENTATION --------------------------------------------------------------------------------------------- ( */
.img_cote {
  width: 25%;
  height: 25%;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(63, 42, 42, 0.2);
}

#presentation div {
  display: flex;
  /*Pour que l'image et texte soient à côte à côte*/
  align-items: center;
  margin: auto;
  width: 70%;
}

#presentation p {
  /*espacement entre img et texte*/
  margin-left: 50px;
}
@media (max-width: 800px) {
  #presentation p {
    margin-left: 0px;
  }
}

/*-------------------------------------------------------------------------------------------------------------- )*/
/* COMPETENCE ----------------------------------------------------------------------------------------------- ( */
#competence h2 {
  padding-top: 50px;
}

#competence h2, #competence h3, #competence p {
  color: blanchedalmond;
}

#competence {
  background-color: #9c583f;
  padding-bottom: 80px;
  box-shadow: 0 0 15px 10px rgba(82, 67, 67, 0.2);
  height: max-content;
}

/*GRILLE COMPETENCE ( */
.grille_capacite {
  width: 90%;
  height: fit-content;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 5fr 5fr;
  /* fr prend en considération on alentour et s'adapte avec*/
  gap: 20px;
}

.milieu {
  justify-content: center;
}

button {
  display: flex;
  padding: 0px;
  border: none;
  background: none;
  cursor: pointer;
  width: 13%;
  margin-left: auto;
  margin-right: auto;
}

button img {
  width: 100%;
  filter: invert(1);
}

.div_appear {
  display: none;
  margin: 10px auto;
}

/* ----------------------------------------------------------------------------------------------------------- ) ) */
/*CREATION --------------------------------------------------------------------------------------------------------- ( */
#creation h3 {
  width: 60%;
  margin: auto auto 20px;
}

#creation > p {
  width: 70%;
  margin: auto;
}

/*TUILERIE ( */
.grille_tuilerie {
  margin: 80px auto;
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 2.5fr 2.5fr;
  /* fr prend en considération on alentour et s'adapte avec*/
}

.tuilerie1 {
  grid-column: 1/2;
}

.tuilerie2 {
  grid-column: 2/3;
}

.tuilerie3 {
  grid-column: 3/4;
}

.tuilerie4 {
  grid-column: 4/5;
}

.tuilerie img {
  width: 100%;
  object-fit: cover;
  position: relative;
  box-shadow: 0 8px 16px rgba(82, 82, 82, 0.2);
  border-radius: 10px;
  filter: saturate(0.3);
  transition: 0.5s;
}
.tuilerie img:hover {
  filter: none;
  width: 105%;
  z-index: 1;
}

.tuilerie1 img {
  left: 30%;
}

.tuilerie2 img {
  left: 5%;
  top: 10%;
}

.tuilerie3 img {
  left: -5%;
}

.tuilerie4 img {
  left: -30%;
  top: 10%;
}

/* ) */
/*STREAMING ( */
.stream {
  display: flex;
  /*Pour que l'image et texte soient à côte à côte*/
  align-items: center;
  margin: auto;
  width: 70%;
  margin-top: 160px;
}
@media (max-width: 800px) {
  .stream {
    display: inline;
  }
}

.stream div {
  /*espacement entre img et texte*/
  margin-right: 50px;
}
@media (max-width: 800px) {
  .stream div {
    margin: auto;
  }
}

/*FOOTER --------------------------------------------------------------------------------------------------------- ( */
footer {
  display: flex;
  position: relative;
  margin-top: 80px;
  height: 300px;
  width: 100%;
  font-weight: 700;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='300' preserveAspectRatio='none' viewBox='0 0 1440 300'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1010%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c121 C 48%2c102.6 144%2c27 240%2c29 C 336%2c31 384%2c130.2 480%2c131 C 576%2c131.8 624%2c41 720%2c33 C 816%2c25 864%2c86 960%2c91 C 1056%2c96 1104%2c52.6 1200%2c58 C 1296%2c63.4 1392%2c106 1440%2c118L1440 300L0 300z' fill='rgba(255%2c 235%2c 205%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c182 C 72%2c195.6 216%2c256 360%2c250 C 504%2c244 576%2c148.6 720%2c152 C 864%2c155.4 936%2c264.8 1080%2c267 C 1224%2c269.2 1368%2c183.8 1440%2c163L1440 300L0 300z' fill='rgba(156%2c 88%2c 63%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1010'%3e%3crect width='1440' height='300' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-position: center;
}

.logo_footer {
  width: 1.5%;
}

footer section {
  position: absolute;
  bottom: 40px;
  width: 100%;
}

footer div {
  display: flex;
  margin: 0px auto;
  align-items: center;
  justify-content: center;
}

footer a {
  text-decoration: none;
}

footer p {
  color: blanchedalmond;
  margin-left: 5px;
  transition: 0.5s;
}
footer p:hover {
  color: rgba(255, 235, 205, 0.5);
}

/* ---- ) */
@media (max-width: 800px) {
  .stream div, #presentation div, #creation > p:first-of-type {
    width: 90%;
  }

  #presentation img {
    display: none;
  }

  .stream img {
    display: flex;
    margin: 30px auto auto auto;
  }
}
/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
