@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", sans-serif;
  text-align: justify;
}

body {
  background-color: #fcf7f1;
}

header {
  position: relative;
  letter-spacing: 2px;
}

header img {
  width: 100%;
  object-fit: cover;
  display: flex;
  box-shadow: inset 0 8px 16px rgba(255, 4, 4, 0.842);
}

nav {
  top: 0px;
  position: fixed;
  display: flex;
  text-align: center;
  height: 4vw;
  width: 100%;
  background-color: rgba(141, 141, 141, 0.1);
  backdrop-filter: blur(50px);
  z-index: 100;
}

ul {
  display: flex;
  position: absolute;
  top: 25%;
  right: 2%;
  font-size: 1.5vw;
  font-weight: 100;
}
ul a {
  text-decoration: none;
  color: #665541;
}
ul a:hover {
  transition: all 0.4s ease-in-out;
  color: rgba(102, 85, 65, 0.5);
}

li {
  list-style-type: none;
  margin: 0px 10px;
}

h1 {
  position: relative;
  color: #665541;
  top: 2%;
  left: 2%;
  font-size: 3vw;
  font-weight: 100;
}

h2 {
  color: #382E2E;
  letter-spacing: 2px;
  width: 70%;
  margin: 80px auto 0px auto;
  font-size: 35px;
}
@media (max-width: 800px) {
  h2 {
    font-size: 25px;
  }
}

h3 {
  color: #463a3a;
}

hr {
  margin: 50px 80px;
  border: 0;
  border-top: 1px solid #382E2E;
}

p {
  color: #544545;
}

.stream a {
  text-decoration: none;
  font-weight: 700;
  color: #9c583f;
}

div:not(.grille_tuilerie, .tuilerie, .capacite, footer section div) {
  width: 70%;
}

/* PRESENTATION --------------------------------------------------------------------------------------------- ( */
.img_cote {
  width: 25%;
  height: 25%;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(63, 42, 42, 0.2);
}

#presentation div {
  display: flex;
  /*Pour que l'image et texte soient à côte à côte*/
  align-items: center;
  margin: auto;
}

#presentation p {
  /*espacement entre img et texte*/
  margin-left: 50px;
}
@media (max-width: 800px) {
  #presentation p {
    margin-left: 0px;
  }
}

/*-------------------------------------------------------------------------------------------------------------- )*/
/* COMPETENCE ----------------------------------------------------------------------------------------------- ( */
#competence h2 {
  padding-top: 50px;
}

#competence h2, #competence h3, #competence p {
  color: blanchedalmond;
}

#competence {
  background-color: #9c583f;
  padding-bottom: 80px;
  box-shadow: 0 0 15px 10px rgba(82, 67, 67, 0.2);
  height: max-content;
}

/*GRILLE COMPETENCE ( */
.grille_capacite {
  height: fit-content;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3.3333333333fr 3.3333333333fr;
  /* fr prend en considération on alentour et s'adapte avec*/
}

.capacite {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* ----------------------------------------------------------------------------------------------------------- ) ) */
/*CREATION --------------------------------------------------------------------------------------------------------- ( */
#creation h3 {
  width: 60%;
  margin: auto auto 20px;
}

#creation > p {
  width: 70%;
  margin: auto;
}

/*TUILERIE ( */
.grille_tuilerie {
  margin: 80px auto;
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 2.5fr 2.5fr;
  /* fr prend en considération on alentour et s'adapte avec*/
}

.tuilerie1 {
  grid-column: 1/2;
}

.tuilerie2 {
  grid-column: 2/3;
}

.tuilerie3 {
  grid-column: 3/4;
}

.tuilerie4 {
  grid-column: 4/5;
}

.tuilerie img {
  width: 100%;
  object-fit: cover;
  position: relative;
  box-shadow: 0 8px 16px rgba(82, 82, 82, 0.2);
  border-radius: 10px;
  filter: saturate(0.3);
  transition: 0.5s;
}
.tuilerie img:hover {
  filter: none;
  width: 105%;
  z-index: 1;
}

.tuilerie1 img {
  left: 30%;
}

.tuilerie2 img {
  left: 5%;
  top: 10%;
}

.tuilerie3 img {
  left: -5%;
}

.tuilerie4 img {
  left: -30%;
  top: 10%;
}

/* ) */
/*STREAMING ( */
.stream {
  display: flex;
  /*Pour que l'image et texte soient à côte à côte*/
  align-items: center;
  margin: auto;
  margin-top: 160px;
}
@media (max-width: 800px) {
  .stream {
    display: inline;
  }
}

.stream div {
  /*espacement entre img et texte*/
  margin-right: 50px;
}
@media (max-width: 800px) {
  .stream div {
    margin: auto;
  }
}

/*FOOTER --------------------------------------------------------------------------------------------------------- ( */
footer {
  display: flex;
  position: relative;
  margin-top: 80px;
  height: 300px;
  width: 100%;
  background-image: url("../img/vague.svg");
  font-weight: 700;
}

.logo_footer {
  width: 1.5%;
}

footer section {
  position: absolute;
  bottom: 30px;
  width: 100%;
}

footer div {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

footer a {
  text-decoration: none;
}

footer p {
  color: blanchedalmond;
  margin-left: 5px;
  transition: 0.5s;
}
footer p:hover {
  color: rgba(255, 235, 205, 0.5);
}

/* ---- ) */
@media (max-width: 800px) {
  section div:not(.grille_tuilerie, .capacite), #creation p {
    width: 90%;
  }

  #presentation img {
    display: none;
  }

  .stream img {
    display: flex;
    margin: 30px auto auto auto;
  }
}
/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
